# Job Name
name: CI-PR-Testing

# Run Name
run-name: "[${{ github.workflow }}] ${{ github.event.pull_request.title || github.ref }}"

# 同個 Group 如果有新的 Job 會取消正在跑的
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# 觸發時機...
on:
  # 手動觸發
  workflow_dispatch:
  # or..
  # 開 PR / 重開 PR / Commit to PR 時才會觸發 & Base branch(合併目標) 是 main
  pull_request:
    types: 
      - opened
      - reopened
      - synchronize
    branches: # base branch
      - 'main'

# 打上 Checks 測試結果 需要 writ 權限
permissions:
  checks: write
  pull-requests: write

# 任務
# 並發執行
jobs:
  # 開 PR 時如果沒 Assign，自動 Assign 成作者自己：
  assign-author-to-self:
    # job 是 pr open 觸發才執行
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    # 即使這 Job 失敗也不影響其他 Job 執行
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.1
      
  # 測試任務
  test-job:
    # 使用 Github Cloud Runner, MacOS v15 機器執行
    # ref: https://github.com/actions/runner-images
    # [注意] Cloud Runner 如果非 Public Repo 需要計費
    runs-on: macos-15

    # 最長執行時間，預設是 360 (6 小時)
    # 超過會強迫終止
    timeout-minutes: 60

    # 任務步驟(照順序執行)
    steps:
      # Clone & Checkout Code
      - name: Checkout code
        uses: actions/checkout@v3
        
      # 設定 Apple 開發者憑證 (for build & run testing)
      # ref: https://docs.github.com/zh/actions/use-cases-and-examples/deploying/installing-an-apple-certificate-on-macos-runners-for-xcode-development
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      # Cache Example, cache spm
      - name: Cache Swift Package Manager
        uses: actions/cache@v3
        with:
          path: |
            ./SourcePackages
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      # 設定 Ruby 環境，for Ruby Gems (Fastlane, cocoapods...)
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.5 # Specify Ruby version compatible with your Gemfile
          bundler-cache: true # Enables caching of installed gems

      # 構建程序安裝 (e.g. Fastlane)
      - name: Install Gems
        run: |
          bundle install

      # 執行 Fastlane 測試任務
      - name: Run Fastlane
        run: |
          bundle exec fastlane tests

      # 打上 Checks 測試結果
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: "./test_result/*.junit"
